*{
margin: 0;  
}
body{
	background-image:url("../images/mangabackground.jpg");
	background-size: 100% 100%;
}
#wrapper{	
	vertical-align:middle;
	padding: 0;
	margin: 0 auto;
	width: 900px;
}
#logo{
	width:900px;
	height:200px;
	background-color:black;
	margin:0 auto;
	border-radius:20px;
	opacity:0.9;
}
#container {
    width:100%;
    text-align:center;
	margin:0 auto;
	border-radius:10px;
}
#left {
    float:left;
	height:250px;
	background-color:#EAEAAE;
	width:250px;
	border-radius:10px;
	border:3px solid black;
	
	
}
#layout{
	width:100%;
	background-color:#6699CC;
	padding-top:15px;
	padding-bottom:30px;
	border-radius:20px;
	border:3px solid black;
	opacity:0.95;
}
#container {
    width:90%;
    text-align:center;
	margin:0 auto;
	padding-top:10px;
	border-radius:10px;
}
#center {
    display: inline-block;
    margin:0 auto;
	height:250px;
	width:250px;
    background: #FF9966;
	border-radius:10px;
	border:3px solid black;
}

#right {
    float:right;
	height:250px;
	width:250px;
    background:#32CD32;
	border-radius:10px;
	border:3px solid black;
}
.post-thumb {
    float: left;
	padding-left: 5px;
	padding-top: 5px;
}
.post-thumb img {
    display: block;
}
.post-title {
    font-weight: bold;
	text-shadow:2px 3px 6px red;
	padding-top:10px;
    font-size: 180%;
}
img{
	border-radius:10px;
}
p{
	font-size:15px;
	float:center;
	text-shadow:2px 3px 6px yellow;
}
